<%= form_with(model: animal, local: true) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> Animal não pôde ser salvo:</h2>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class="form-group col-md-6">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :raça %>
    <%= form.text_field :raca %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :espécie %>
    <%= form.text_field :especie %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :sexo %>
    <%= form.select :sexo, ['Fêmea', 'Macho'] %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :peso %>
    <%= form.text_field :peso %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :data_de_nascimento%>
    <%= form.date_select :data_nascimento, order: [:day, :month, :year], :use_month_numbers => true %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :situação %>
    <%= form.text_field :situacao %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :ong_id%>
    <%= form.select("ong_id", @ong_options , {include_blank:"Selecione..."}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  </form>
<% end %>