<%# <% @estados ||= [] %> 

<%= form_with(model: ong, local: true) do |form| %>
  <% if ong.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ong.errors.count, "error") %> prohibited this ong from being saved:</h2>

      <ul>
      <% ong.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: 'form-control', :required => true %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control', :required => true %>
  </div>

  <div class="form-group">
    <%= form.label :logo %>
    <%= form.text_field :logo, class: 'form-control', :required => true %>
  </div>

   <div class="form-group">
      <%# <%= form.label :estado_id, 'Estado' %>
      <%# <%= form.text_field :estado, class: 'form-control' %>
      <%= form.label :estado_id, 'Estado' %> 
      <%= form.collection_select(:estado_id, @estados || [], :id, :nome, prompt: 'Selecione um estado') %>

  </div>

  <div class="actions">
    <%= form.submit "Criar Ong", class: 'btn btn-primary'%>
  </div>  
<% end %>
