<%= form_with(model: ong, local: true) do |form| %>
  <% if ong.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ong.errors.count, "error") %> prohibited this ong from being saved:</h2>

      <ul>
      <% ong.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: 'form-control'  %>
  </div>
  </div>

<div class="form-group">
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>
  </div>

<div class="form-group">
  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado, class: 'form-control' %>
  </div>
  </div>

<div class="form-group">
  <div class="field">
    <%= form.label :logo %>
    <%= form.text_field :logo , class: 'form-control' %>
  </div>
  </div>


<div class="form-group">
  <div class="actions" >
    <%= form.submit 'Cadastrar', class: 'btn btn-primary' %>
        <%= link_to 'voltar', ongs_path,:class => "btn btn-danger"%>
  </div>

  </div>
<% end %>
