<%= form_with(model: ong, local: true) do |form| %>
  <% if ong.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ong.errors.count, "error") %> prohibited this ong from being saved:</h2>

      <ul>
      <% ong.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-4">
      <%= form.label :nome %>
      <%= form.text_field :nome, class:"form-control"%>
    </div>

    <div class="col-xs-4">
      <%= form.label :email %>
      <%= form.text_field :email, class:"form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= form.label :estado %>
      <%= form.text_field :estado, class:"form-control" %>
    </div>

    <div class="col-xs-4">
      <%= form.label :logo %>
      <%= form.text_field :logo, class:"form-control" %><br>
    </div>
  </div>

    <div class="actions">
      <%= form.submit "Criar Ong" , class:"btn btn-primary btn-lg active" %>
    </div>
  </div>
<% end %>
