<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @ong.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ong.email %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @ong.estado %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @ong.logo %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @ong.logo %>
</p>
<h1><%= current_user.name %></h1>

<%= link_to 'Edit', edit_ong_path(@ong) %> |
<%= link_to 'Back', ongs_path %>
